.button {
  height: 40px;
  width: 100px;
}

.primary {
  background-color: purple;
}

.secondary {
  background-color: orange;
}

.danger {
  background-color: red;
}

.success {
  background-color: green;
}
